body{
  font-family: Arial, Helvetica, sans-serif;
}

.floatingHeader{
  position: sticky;
  width: 100%;
  top: 0px;
  left: 0px;
  padding: 5px;
  color: #fff;
  background-color: #222;
}

.floatingFooter{
  position: fixed;
  width: 100%;
  top: auto;
  bottom: 0px;
  height: fit-content;
  left: 0px;
  padding: 5px;
  text-align: center; 
  color: #fff;
  background-color: #222;
}

.shadow {
  -webkit-box-shadow: 0 3px 6px rgba(57, 63, 72, 0.5);
-moz-box-shadow: 0 3px 6px rgba(57, 63, 72, 0.5);
box-shadow: 0 3px 6px rgba(57, 63, 72, 0.5);
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background: #2196f3;
  color: #444;
  cursor: pointer;
  padding: 16px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  margin: 6px 0px 6px 0px;
  border-radius: 15px;
  font-weight: bold;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #003cff;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  font-size: 14px;
}

.btn {
  width: 50%;
  display: inline-block;
  background: #2196f3;
  color: #222;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
}

.quizLink{
  text-align: center; 
  margin-block-start: 0px;
}

.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.controls{
  width: auto;
}

#info{
  text-transform: capitalize;
}

button{
  text-transform: capitalize;
}

.quizLink:hover,
button:hover {
  background-color: #003cff;
}

button:disabled,
button[disabled],
select:disabled,
select[disabled]{
  background-color: #cccccc;
  color: #666666;
}